body {
  font-family: $primary-font;
}
a {
  text-decoration: none;
}
h2 {
  margin: 50px 0 0 0;
  font-size: 30px;
  font-weight: bold;
}
p {
  line-height: 22px;
  font-size: 16px;
}
.wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.active {
  color: $accent-color;
}
@media screen and (min-width: 860px) {
  .wrapper {
    width: 890px;
  }
}
