header {
  position: relative;
  background: #000;
  .logo, .bubble-wrapper, nav {
    display: block;
    margin: 0 auto;
  }
}
.logo {
  position: relative;
  top: 100px;
  height: 82px;
  @include backgroundImage ("../img/logo.jpg");
  background-size: contain;
}
.bubble-wrapper {
  position: relative;
  padding: 150px 0 0 0;
  .bubble {
    position: relative;
    border-radius: 50%;
    background: #fff;
  }
  div.bubble {
    position: absolute;
    display: inline-block;
    top: -211px;
    width: 240px;
    height: 222px;
  }
  span.bubble {
    display: inline-block;
    top: -200px;
    left: 230px;
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
  }
  span.bubble:nth-of-type(2) {
    top: -208px;
    width: 17px;
    height: 17px;
  }
  span.bubble:nth-of-type(3) {
    top: -214px;
    width: 12px;
    height: 12px;
  }
  .bubble-content {
    position: relative;
    display: inline-block;
    top: 135px;
    left: 15px;
  }
}
.envelope {
  display: inline-block;
  width: 35px;
  height: 25px;
  @include backgroundImage ("../img/envelope.png");
}
address {
  float: right;
  margin: 0 0 0 5px;
  span {
    display: block;
  }
}
nav {
  position: relative;
  li {
    display: inline-block;
    margin: 15px 5px;
    a {
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      &:hover {
        color: $accent-color;
      }
    }
  }
}
@media screen and (min-width: 860px) {
  header {
    .logo, .bubble-wrapper, nav {
      width: 30%;
      display: inline-block;
    }
    .logo {
      top: 0;
    }
    .bubble-wrapper {
      width: 28%;
      padding: 0;
      div.bubble {
        top: -205px;
        left: -30px;
        width: 260px;
        .bubble-content {
          top: 150px;
          left: 28px;
        }
      }
      span.bubble {
        top: -50px;
        left: 220px;
      }
      span.bubble:nth-of-type(2) {
        top: -58px;
      }
      span.bubble:nth-of-type(3) {
        top: -64px;

      }
    }
    nav {
      float: right;
      top: 45px;
      width: 41%;
      li {
        margin: 0 3px;
      }
    }
  }
}
